/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  margin-bottom: 10px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item {
  flex: 1;
  margin: 10px;
  flex-direction: column;
}

.item-double {
  flex: 2;
  flex-direction: column;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 3px 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

#menu{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media screen and (max-width: 400px) {
  .logo{
    font-size: 50px;
  }
}

@media screen and (min-width: 480px){
  menu{
    justify-content: end;
  }
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo{
    width: 50%;
    display: flex;
  }
  #teller{
    align-items: flex-end;
  }

  .group{
    flex-direction: column;
    justify-content: end;
    flex:1;
  }
  form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  button{
    flex: 1;
  }

  .about{
    display: flex;
    flex-direction: row;
    position: relative;
  }

  #about p{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 5px;

  }

  #about img{
    width: 25%;
    padding: 5px;;
    height: 25%;
  } 


  #fourimages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  #fourimages .group2{
    max-width: 48%;
    width: auto;
    height: auto;
    padding: 1%;
  }

  #host{
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  #host-text{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 5px;
  }

  #host img{
    max-width: 50%;
    width: auto;
    height: 50%;
  }
}
